<<<<<<< HEAD
.LoadingContainer {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loadingBox {
  position: relative;
  height: 50px;
  width: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  animation: roa 2s linear infinite;
  border: 4px solid blue;
  border-right: 4px solid transparent;
}

@keyframes roa {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
    border: 4px solid red;
    border-right: 4px solid transparent;
  }

  75% {
    transform: rotate(270deg);
    border: 4px solid red;
    border-right: 4px solid transparent;
  }

  100% {
    transform: rotate(360deg);
    border: 4px solid blue;
    border-right: 4px solid transparent;
  }
}
=======
.LoadingContainer {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loadingBox {
  position: relative;
  height: 50px;
  width: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  animation: roa 2s linear infinite;
  border: 4px solid blue;
  border-right: 4px solid transparent;
}

@keyframes roa {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
    border: 4px solid red;
    border-right: 4px solid transparent;
  }

  75% {
    transform: rotate(270deg);
    border: 4px solid red;
    border-right: 4px solid transparent;
  }

  100% {
    transform: rotate(360deg);
    border: 4px solid blue;
    border-right: 4px solid transparent;
  }
}
>>>>>>> fc83f114e447d3d2093ea4aa8bb3d2c1b4303d7d
