.ProductHerosection {
  position: relative;
  height: max-content;
  width: 100%;
  padding: 10px;
  padding-top: 60px;
  display: flex;
  gap: 10px;
}
.heroconxa {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.searchContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: white;
  width: 40%;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.searchBoxa {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.productInput {
  font-size: 16px;
  width: 100%;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: transparent;
}
.SearchBut {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.Searchcon {
  font-size: 20px;
  background-color: white;
  color: slateblue;
}
.searchBoxb {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 300px;
  overflow-y: scroll;
}
.searchBoxb::-webkit-scrollbar {
  width: 8px;
}
.searchBoxb::-webkit-scrollbar-thumb {
  background-color: slateblue;
  border-radius: 10px;
}
.searchBoxb::-webkit-scrollbar-track {
  background-color: #dfdfdf;

  border-radius: 10px;
}
.searchBoxb::-webkit-scrollbar-thumb:hover {
  background-color: rgba(105, 90, 205, 0.747);
}
ul {
  margin-left: 0px;
  list-style-type: none;
}
li {
  padding: 5px;
  cursor: pointer;
  font-weight: 400;
  text-align: left;
}
li:hover {
  background-color: slateblue;
  color: white;
}
.productContainerx {
  position: relative;
  padding: 20px;
  width: 50%;
  column-gap: 15px;
  gap: 10px;
  align-items: stretch;
}
.productContainer {
  position: relative;
  padding: 20px;
  column-count: 3;
  column-gap: 15px;
  gap: 10px;
  align-items: stretch; /* important */
}

.productBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto; /* FIX */
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 1s;
  break-inside: avoid;
  animation: pro linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
@keyframes pro {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.productBox,
.productBox > * {
  height: auto !important;
}

.productImg {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 300px;
}
.ProductImage {
  object-fit: contain;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 1s;
}
.productBox h1 {
  font-size: 20px;
}
.prductBody {
  position: relative;
  padding: 10px;
}
.productPrice {
  color: slateblue;
  font-weight: 600;
}
.InquiryButton {
  padding: 10px 10px;
  background-color: slateblue;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  transition: 1s;
  white-space: nowrap;
  border: 1px solid slateblue;
  text-decoration: none;
  font-weight: 600;
}
.InquiryButton:hover {
  background-color: white;
  border: 1px solid slateblue;
  color: slateblue;
}
.productBox:hover * .ProductImage {
  transform: scale(1.1);
}
.prodio {
  margin-left: 20px;
}
@media (max-width: 1037px) {
  .ProductHerosection {
    padding-top: 80px;
    flex-direction: column;
  }
  .heroconxa {
    height: auto;
  }
  .productContainerx {
    width: 70%;
  }
}
@media (max-width: 776px) {
  .productContainer {
    column-count: 2;
  }
}
@media (max-width: 605px) {
  .searchContainer {
    width: 90%;
  }
}
@media (max-width: 472px) {
  .productContainerx {
    width: 100%;
  }
  .productContainer {
    column-count: 1;
  }
}
@media (max-width: 357px) {
  .ProductHerosection {
    padding-top: 90px;
  }
}
